@page
@model GMS_UI.Pages.VLT.Volunteer.DetailsModel
@{
    ViewData["Title"] = "Volunteer Details";
}
<div class="container-gms">
    <div class="card shadow border rounded-3 bg-light ">
        <div class="card-header page-card-header">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6>Name</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Sex</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Race</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Nombre</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4>Direccion</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</div>
