@page
@model GMS_UI.Pages.STD.StudioDoc.IndexModel
@{
    ViewData["Title"] = "StudioDoc";
}



<div class="container-gms">

    <div class="alert alert-success collapse" role="alert" id="successAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('successAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="successTitle"></h4>
        <p id="successMsg"></p>
    </div>

    <div class="alert alert-danger collapse" role="alert" id="failedAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('failedAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="failedTitle"></h4>
        <p id="failedMsg"></p>
    </div>

    <div class="card">
        <div class="card-header page-card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4><i class="bi bi-file-earmark-medical-fill me-2"></i>Studio Doc</h4>
                </div>
                <div class="col text-end">
                    <a data-bs-toggle="modal" data-bs-target="#studioDocNewModal" class="btn btn-sm btn-add btn-header"><i class="bi bi-plus-circle me-1"></i> Add Studio Doc</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="studioDocGrid" class="ag-theme-balham gridIndexSize"></div>
        </div>
    </div>
</div>

@* Modals *@
<div id="studioDocNewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="studioDocNewModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header page-card-header">
                <h2>Add Studio Doc</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-section">

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docName">DocName</label>
                                <input type="text" class="form-control inputsmmodal" id="docName" placeholder="DocName">
                                <span id="validateStudioDoc" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docType">DocType</label>
                                <input type="text" class="form-control inputsmmodal" id="docType" placeholder="DocType">
                                <span id="validateStudioDocType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docVersion">DocVersion</label>
                                <input type="text" class="form-control inputsmmodal" id="docVersion" placeholder="DocVersion">
                                <span id="validateStudioDocVersion" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docDate">DocDate</label>
                                <input type="date" class="form-control inputsmmodal" id="docDate" placeholder="DocDate">
                                <span id="validateStudioDocDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="studioName">StudioName</label>
                                <input type="text" class="form-control inputsmmodal" id="studioName" placeholder="StudioName">
                            </div>
                        </div>

                        
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="floating-label" for="notes">Notes</label>
                                <textarea rows="4" class="form-control inputsmmodal" placeholder="Notes" id="notes"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success" onclick="crudStudioDoc(1)"><i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>


<div id="editStudioDoc" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editStudioDocLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header page-card-header">
                <h2>Edit Studio Doc</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docName">Document Name</label>
                                <input type="text" class="form-control inputsmmodal" id="docNameEdit" placeholder="Document Name">
                                <span id="validateStudioDocNameE" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docType">Document Type</label>
                                <input type="text" class="form-control inputsmmodal" id="docTypeEdit" placeholder="Document Type">
                                <span id="validateStudioDocTypeE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docVersion">DocVersion</label>
                                <input type="text" class="form-control inputsmmodal" id="docVersionEdit" placeholder="Document Version">
                                <span id="validateStudioDocVersionE" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="docDate">Document Date</label>
                                <input type="date" class="form-control inputsmmodal" id="docDateEdit" placeholder="Document Date">
                                <span id="validateStudioDocDateE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="studioName">StudioName</label>
                                <input type="text" class="form-control inputsmmodal" id="studioNameEdit" placeholder="StudioName">
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="floating-label" for="notes">Notes</label>
                                <textarea rows="4" class="form-control inputsmmodal" placeholder="Notes" id="notesEdit"></textarea>
                            </div>
                        </div>

                    </div>

                </div>

                <input type="hidden" id="studioDocidEdit" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success" onclick="crudStudioDoc(2)"><i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteStudioDoc" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteStudioDocLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header page-card-header">
                <h2>Are you sure you want to delete this studio doc?</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
                <input type="hidden" id="studioDocidDelete" />
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <dl class="row">
                        <dt class="col-sm-6">Document Name: </dt>
                        <dd class="col-sm-6" id="docNameD"> </dd>

                        <dt class="col-sm-6">Document Type:</dt>
                        <dd class="col-sm-6" id="docTypeD">  </dd>
                        
                        <dt class="col-sm-6">Document Version:</dt>
                        <dd class="col-sm-6" id="docVersionD">  </dd>

                        <dt class="col-sm-6">Document Date:</dt>
                        <dd class="col-sm-6" id="docDateD">  </dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-danger" onclick="crudStudioDoc(3)"><i class="bi bi-x-octagon-fill"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    window._csrfToken = $('@Html.AntiForgeryToken()').val();
    urlIndex = '/STD/StudioDoc';
</script>
<script src="/js/std/studioDoc/studioDoc.js"></script>

