@page
@model GMS_UI.Pages.STD.StudioListData.IndexModel
@{
    ViewData["Title"] = "StudioList";
}



<div class="container-gms">

    <div class="alert alert-success collapse" role="alert" id="successAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('successAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="successTitle"></h4>
        <p id="successMsg"></p>
    </div>

    <div class="alert alert-danger collapse" role="alert" id="failedAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('failedAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="failedTitle"></h4>
        <p id="failedMsg"></p>
    </div>

    <div class="card studiolist-card">
        <div class="card-header studiolist-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4><i class="bi bi-journal-medical me-2"></i>Clinical Studies</h4>
                </div>
                <div class="col text-end">
                    <a class="btn btn-sm btn-add" href="./Create"><i class="bi bi-plus-circle me-1"></i> Add Study</a>
                </div>
            </div>
        </div>
        <div class="card-body studiolist-grid-container">
            <div id="studioListGrid" class="ag-theme-balham gridIndexSize"></div>
        </div>
    </div>
</div>

    <script>
        window._csrfToken = $('@Html.AntiForgeryToken()').val();
        urlIndex = '/STD/StudioListData';
    </script>
    <script src="/js/std/studioListData/studioListData.js"></script>

