@page

@model IndexModel
@{
    ViewData["Title"] = "GMS Home Page";
}

<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-12 text-center">
            <h1>Welcome to GMS</h1>
            <p class="lead">Your gateway to the GMS system.</p>
            <p>Use the navigation menu to explore the features of GMS.</p>
        </div>
        <div class="h-100 d-flex align-items-center justify-content-center vertical-center-row">
            <img src="~/images/gms_.png" alt="GMS" class="img-fluid" />
        </div>
    </div>
</div>


