@page
@model GMS_UI.Pages.STD.Study.IndexModel
@{
    ViewData["Title"] = "Study";
}

<div class="container-gms">
    <div class="card study-card">
        <div class="card-header study-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4><i class="bi bi-clipboard-data-fill me-2"></i>Study</h4>
                </div>
                <div class="col text-end">
                    <a asp-page="./Create" class="btn btn-sm btn-add"><i class="bi bi-plus-circle me-1"></i> Add Study</a>
                </div>
            </div>
        </div>
        <div class="card-body study-grid-container">
            <div id="studyGrid" class="ag-theme-balham gridIndexSize"></div>
        </div>
    </div>
</div>

<script>
    window._csrfToken = $('@Html.AntiForgeryToken()').val();
    urlIndex = '/STD/Study';
</script>
<script src="/js/std/study/study.js"></script>