@page
@model GMS_UI.Pages.STD.Monitor.IndexModel
@{
    ViewData["Title"] = "Monitor";
}


<div class="container-gms">

    <div class="alert alert-success collapse" role="alert" id="successAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('successAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="successTitle"></h4>
        <p id="successMsg"></p>
    </div>

    <div class="alert alert-danger collapse" role="alert" id="failedAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('failedAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="failedTitle"></h4>
        <p id="failedMsg"></p>
    </div>

    <div class="card">
        <div class="card-header page-card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4><i class="bi bi-binoculars-fill me-2"></i>Monitor</h4>
                </div>
                <div class="col text-end">
                    <a data-bs-toggle="modal" data-bs-target="#monitorNewModal" class="btn btn-sm btn-add btn-header"><i class="bi bi-plus-circle me-1"></i> Add Monitor</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="monitorGrid" class="ag-theme-balham gridIndexSize"></div>
        </div>
    </div>
</div>

@*start modal...*@
@*new modal...*@
 <div id="monitorNewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="monitorNewModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header page-card-header">
                <h2>Add Monitor</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="firstName">First Name</label>
                                <input type="text" class="form-control inputsmmodal" id="firstName" placeholder="First Name">
                                <span id="validateFirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="lastName">Last Name</label>
                                <input type="text" class="form-control inputsmmodal" id="lastName" placeholder="Last Name">
                                <span id="validateLastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="email">Email</label>
                                <input type="text" class="form-control inputsmmodal" id="email" placeholder="Email">
                                <span id="validateEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="phone">Phone</label>
                                <input type="text" class="form-control inputsmmodal" id="phone" placeholder="Phone">
                                <span id="validatePhone" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="role">Role</label>
                                <input type="text" class="form-control inputsmmodal" id="role" placeholder="Role">
                                <span id="validateRole" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="sponsor">Sponsor</label>
                                <select class="form-select" aria-label="Default select example" id="sponsor">
                                    <option selected>Open this select menu</option>
                                </select>
                                <span id="validatesponsor" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success" onclick="crudMonitor(1)"> <i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

@*edit modal...*@
<div id="editMonitor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editMonitorLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header page-card-header">
                <h2>Edit Monitor</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="firstNameEdit">First Name</label>
                                <input type="text" class="form-control inputsmmodal" id="firstNameEdit" placeholder="First Name">
                                <span id="validateFirstNameEdit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="lastNameEdit">Last Name</label>
                                <input type="text" class="form-control inputsmmodal" id="lastNameEdit" placeholder="Last Name">
                                <span id="validateLastNameEdit" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="emailEdit">Email</label>
                                <input type="text" class="form-control inputsmmodal" id="emailEdit" placeholder="Email">
                                <span id="validateEmailEdit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="phoneEdit">Phone</label>
                                <input type="text" class="form-control inputsmmodal" id="phoneEdit" placeholder="Phone">
                                <span id="validatePhone" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="roleEdit">Role</label>
                                <input type="text" class="form-control inputsmmodal" id="roleEdit" placeholder="Role">
                                <span id="validateRoleEdit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="sponsorEdit">Sponsor</label>
                                <input type="text" class="form-control inputsmmodal" id="sponsorEdit" placeholder="Sponsor" readonly>
                            </div>
                        </div>

                    </div>
                </div>
                <input type="hidden" id="monitoridEdit" />
                <input type="hidden" id="sponsoridEdit" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success" onclick="crudMonitor(2)"> <i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

@*delete modal...*@
<div id="deleteMonitor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteMonitorLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header page-card-header">
                <h2>Are you sure you want to delete this monitor?</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
                <input type="hidden" id="monitoridDelete" />
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <dl class="row">
                        <dt class="col-sm-6">Firt Name: </dt>
                        <dd class="col-sm-6" id="firstNameD"> </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">Last Name:</dt>
                        <dd class="col-sm-6" id="lastNameD">  </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6"> Email:  </dt>
                        <dd class="col-sm-6" id="emailD">  </dd>
                    </dl> 
                    <dl class="row">
                        <dt class="col-sm-6">Phone: </dt>
                        <dd class="col-sm-6" id="phoneD"> </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">Role:</dt>
                        <dd class="col-sm-6" id="roleD">  </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6"> Sponsor:  </dt>
                        <dd class="col-sm-6" id="sponsorD">  </dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-danger" onclick="crudMonitor(3)"><i class="bi bi-x-octagon-fill"></i> Delete</button>
            </div>
        </div>
    </div>   
</div>
@*end modal...*@

<script>
    window._csrfToken = $('@Html.AntiForgeryToken()').val();
    urlIndex = '/STD/Monitor';
    urlIndexSponsor = '/STD/Sponsor';
</script>
<script src="/js/std/monitor/monitor.js"></script>

