@page
@model GMS_UI.Pages.STD.Protocol.IndexModel
@{
    ViewData["Title"] = "Protocol";
}

<div class="container-gms">

    <div class="alert alert-success collapse" studio="alert" id="successAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('successAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="successTitle"></h4>
        <p id="successMsg"></p>
    </div>

    <div class="alert alert-danger collapse" studio="alert" id="failedAlert">
        <button type="button" class="btn-close float-end" onclick="hideAlerts('failedAlert')" aria-label="Close"></button>
        <h4 class="alert-heading" id="failedTitle"></h4>
        <p id="failedMsg"></p>
    </div>

    <div class="card protocol-card">
        <div class="card-header protocol-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4><i class="bi bi-file-earmark-text-fill me-2"></i>Protocol</h4>
                </div>
                <div class="col text-end">
                    <button data-bs-toggle="modal" data-bs-target="#protocolNewModal" class="btn btn-sm btn-add btn-header"><i class="bi bi-plus-circle me-1"></i> Add Protocol</button>
                </div>
            </div>
        </div>
        <div class="card-body protocol-grid-container">
            <div id="protocolGrid" class="ag-theme-balham gridIndexSize"></div>
        </div>
    </div>
</div>

 <div id="protocolNewModal" class="modal fade" tabindex="-1" studio="dialog" aria-labelledby="protocolNewModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" studio="document">
            <div class="modal-header page-card-header">
                <h2>Add Protocol</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="protocol">Protocol</label>
                                <input type="text" class="form-control inputsmmodal" id="protocol" placeholder="Protocol">
                                <span id="validateProtocol" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="version">Version</label>
                                <input type="text" class="form-control inputsmmodal" id="version" placeholder="Version">
                                <span id="validateVersion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="study">Study</label>
                                <select class="form-select" aria-label="Default select example" id="study">
                                    <option selected>Open this select menu</option>
                                </select>
                                <span id="validatestudy" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="approvedDate">Approved Date</label>
                                <input type="date" class="form-control inputsmmodal" id="approvedDate" placeholder="Approved Date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="startDate">Start Date</label>
                                <input type="date" class="form-control inputsmmodal" id="startDate" placeholder="Start Date">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="endDate">End Date</label>
                                <input type="date" class="form-control inputsmmodal" id="endDate" placeholder="End Date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="floating-label" for="notes">Notes</label>
                                <textarea rows="4" class="form-control inputsmmodal" id="notes" placeholder="Notes"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success" onclick="crudProtocol(1)"> <i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div id="editProtocol" class="modal fade" tabindex="-1" studio="dialog" aria-labelledby="editProtocolLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" studio="document">
            <div class="modal-header page-card-header">
                <h2>Edit Protocol</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="protocolEdit">Protocol</label>
                                <input type="text" class="form-control inputsmmodal" id="protocolEdit" placeholder="Protocol">
                                <span id="validateProtocolEdit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="versionEdit">Version</label>
                                <input type="text" class="form-control inputsmmodal" id="versionEdit" placeholder="Version">
                                <span id="validateVersionEdit" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="studyEdit">Study</label>
                                <select class="form-select" aria-label="Default select example" id="studyEdit">
                                    <option selected>Open this select menu</option>
                                </select>
                                <span id="validatestudyEdit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="approvedDateEdit">Approved Date</label>
                                <input type="date" class="form-control inputsmmodal" id="approvedDateEdit" placeholder="Approved Date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="startDateEdit">Start Date</label>
                                <input type="date" class="form-control inputsmmodal" id="startDateEdit" placeholder="Start Date">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="floating-label" for="endDateEdit">End Date</label>
                                <input type="date" class="form-control inputsmmodal" id="endDateEdit" placeholder="End Date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label class="floating-label" for="notesEdit">Notes</label>
                                <textarea rows="4" class="form-control inputsmmodal" id="notesEdit" placeholder="Notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
      
                <input type="hidden" id="protocolidEdit" />
                <input type="hidden" id="studyidEdit" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-success" onclick="crudProtocol(2)"> <i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteProtocol" class="modal fade" tabindex="-1" studio="dialog" aria-labelledby="deleteProtocolLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" studio="document">
            <div class="modal-header page-card-header">
                <h2>Are you sure you want to delete this protocol?</h2>
                <span class="close" data-bs-dismiss="modal">&times;</span>
                <input type="hidden" id="protocolidDelete" />
            </div>
            <div class="modal-body">
                <div class="form-section">
                    <dl class="row">
                        <dt class="col-sm-6">Protocol:</dt>
                        <dd class="col-sm-6" id="protocolD"> </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">Version:</dt>
                        <dd class="col-sm-6" id="versionD">  </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">Study:</dt>
                        <dd class="col-sm-6" id="studyD"></dd>
                    </dl>   
                    <dl class="row">
                        <dt class="col-sm-6">Approved Date:</dt>
                        <dd class="col-sm-6" id="approvedDateD"></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">Start Date:</dt>
                        <dd class="col-sm-6" id="startDateD"></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">End Date:</dt>
                        <dd class="col-sm-6" id="endDateD"></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">Notes:</dt>
                        <dd class="col-sm-6" id="notesD"></dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-danger" onclick="crudProtocol(3)"><i class="bi bi-x-octagon-fill"></i> Delete</button>
            </div>
        </div>
    </div>   
</div>

<script>
    window._csrfToken = $('@Html.AntiForgeryToken()').val();
    urlIndex = '/STD/Protocol';
</script>
<script src="/js/std/protocol/protocol.js"></script>

