@page
@model GMS_UI.Pages.STD.Subject.IndexModel
@{
    ViewData["Title"] = "Subject";
}

<div class="container-gms">
    <div class="card" >
        <div class="card-header page-card-header">
            <div class="row">
                <div class="col">
                    <h4>Subject</h4>
                </div>
                <div class="col">
                    <a asp-page="./Create" class="btn btn-sm float-end btn-header"><i class="bi bi-plus-circle"></i> Add</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="subjectGrid" class="ag-theme-balham gridIndexSize"></div>
        </div>
    </div>
</div>

<script>
    window._csrfToken = $('@Html.AntiForgeryToken()').val();
    urlIndex = '/STD/Subject';
</script>
<script src="/js/std/subject/subject.js"></script>
